<header>
    <nav>
        <a href="/">Home page</a>
        <ul>
            <li><a href="/deals">Show won deals</a></li>
            <li><a href="/deals/import">Import won deals</a></li>
            <li><a href="/config">Configuration</a></li>
        </ul>
    </nav>
</header>
