<header>
    <nav>
        <a href="/">Home page</a>
        <ul>
            <li><a href="/deals">Deals</a></li>
            <li><a href="/deals/won">Won deals</a></li>
            <li><a href="/deals/new">Create deals</a></li>
            <li><a href="/orders">Orders</a></li>
            <li><a href="/orders/new">Create orders</a></li>
        </ul>
    </nav>
</header>
