<header>
    <nav>
        <a href="/">Home page</a>
        <ul>
            <li><a href="/deals/won">Show won deals</a></li>
            <li><a href="/deals/import">Import won deals</a></li>
        </ul>
    </nav>
</header>
